.game-area {
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 60vh;
  position: relative;

  .start-button {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    height: 4rem;
    cursor: pointer;

    &:hover {
      border-bottom: solid 2px black;
    }
  }

  .game-desription {
    font-size: 1.3rem;
    line-height: 1.2;
    width: 60%;
    text-align: center;
  }

  .target {
    width: 3rem;
    user-select: none;
  }
}

.curr-score-cont {
  display: block;
  font-size: 2rem;
  text-align: center;
}

.timer {
  margin-top: 1rem;
  display: block;
}
