* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 62.5% px;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #b2a78a;
  font-family: "Latio", sans-serif;
}

.container {
  padding: 1rem 4.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

.flex-col-center-h-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-row-center-h-v {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.grid-2-cols-2-rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.5fr;
  gap: 1rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  gap: 1rem;
  height: 100%;
}

.grid-center-h {
  justify-items: center;
}

.grid-center-v {
  align-items: center;
}

.btn {
  border: 3px solid #534343;
  padding: 0.5rem 1rem 0.2rem 1rem;
  border-radius: 1rem;
}
.btn:hover {
  background-color: #483a3a;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  list-style: none;
  font-size: 1.4rem;
}
.nav-items .nav-link {
  color: #2e210b;
  font-weight: 700;
  position: relative;
}
.nav-items .nav-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #2e210b;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}
.nav-items .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: #2e210b;
}
.nav-items .nav-link:active {
  color: #423636;
}
.nav-items .btn {
  color: #827a6d;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 70rem;
  overflow: hidden;
}
.slider .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider .slides .slide {
  min-width: 100%;
  display: none;
  transition: transform 0.5s ease-in-out;
}
.slider .slides .slide[data-active] {
  display: block;
}
.slider .slides .slide-img {
  width: 100%;
  display: block;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .btn-prev,
.slider .btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.slider .btn-prev:hover,
.slider .btn-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slider .btn-prev:active,
.slider .btn-next:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.slider .btn-prev {
  left: 0;
}
.slider .btn-next {
  right: 0;
}

.about-me-section {
  padding: 4rem 2rem;
}
.about-me-section .about-me-content {
  align-items: start;
  margin-left: 8rem;
}
.about-me-section .about-me-content .about-title {
  font-size: 5rem;
  color: #322828;
  font-weight: 700;
}
.about-me-section .about-me-content .short-desc-about {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.about-me-section .about-me-content .description-about {
  font-size: 1.4rem;
  line-height: 1.2;
}
.about-me-section .about-me-img {
  height: 30rem;
  border-radius: 10px;
  border: 1px solid #322828;
}
.about-me-section .img-container {
  grid-row: 2;
  grid-column: 1/span 2;
  align-self: flex-start;
}
.about-me-section .img-container .img-in-con {
  height: 13rem;
}

.header {
  display: flex;
  padding: 0 3.6rem;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  gap: 2.2rem;
}

.logo-img {
  height: 4rem;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/resources/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 90vh;
  width: 100%;
}
.home .title-container {
  grid-column: 2;
  align-self: center;
  margin-bottom: 10rem;
}
.home .home-title {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  color: rgb(240, 239, 224);
  margin-top: 0.2rem;
  margin-bottom: 4rem;
}
.home .home-btn {
  cursor: pointer;
  padding: 1.1rem;
  color: rgb(224, 216, 191);
  font-weight: 600;
  font-size: 2rem;
}
.home .home-btn:active {
  background-color: #423636;
}

.step-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 10px;
  padding: 2rem;
  transition: all 0.4s ease;
}
.step-card .step-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.step-card .step-title {
  font-size: 3rem;
  color: #322828;
  -webkit-text-decoration: underline solid 5px #322828;
          text-decoration: underline solid 5px #322828;
}
.step-card .step-description {
  font-size: 1.4rem;
  line-height: 1.3;
  padding: 2rem;
  max-width: 25rem;
}
.step-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.what-to-take-section {
  padding: 4rem 2rem;
}

.plans-section {
  padding: 4rem 2rem;
}
.plans-section .section-title {
  margin-bottom: 6rem;
}
.plans-section .plans-container {
  gap: 0;
}
.plans-section .plans-container .plan-card {
  border: 2px solid #322828;
  padding: 2rem;
  max-width: 20rem;
  text-align: center;
  height: 26rem;
  background-color: #887353;
  border-radius: 8px;
}
.plans-section .plans-container .plan-card .plan-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.plans-section .plans-container .plan-card .price-span {
  font-size: 1.5rem;
  font-weight: 500;
}
.plans-section .plans-container .plan-card .price {
  font-size: 4rem;
}
.plans-section .plans-container .plan-card .plan-list {
  list-style: none;
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
}
.plans-section .plans-container .plan-card:nth-child(2) {
  transform: translateY(-2rem);
  scale: 1.1;
  background-color: #ddc673;
}

.gun-range-info-section {
  padding: 4rem 2rem;
}
.gun-range-info-section .section-title {
  margin-bottom: 0;
}
.gun-range-info-section .section-subtitle {
  font-size: 2.2rem;
  color: #322828;
  margin-bottom: 1rem;
}
.gun-range-info-section .gun-range-description {
  width: 40rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.1;
}/*# sourceMappingURL=style.css.map */