/* ----------------- BELOW 1344px ----------------- */
@media (max-width: 84rem) {
  .home-title {
    font-size: 3.4rem !important;
  }
  .home-btn {
    font-size: 1.5rem !important;
  }
  .about-me-img {
    align-self: center;
  }
  .img-in-con {
    height: 11rem !important;
  }
  .step-description {
    font-size: 1.3rem !important;
  }
}
/* ----------------- BELOW 1200px ----------------- */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .home-title {
    font-size: 5rem !important;
  }
  .plan-card:nth-child(2):before {
    top: -30px !important;
    left: -20px !important;
  }
}
/* ----------------- BELOW 1040px ----------------- */
@media (max-width: 65rem) {
  html {
    font-size: 50%;
  }
  .btn-mobile-nav {
    display: block !important;
  }
  .nav {
    background-color: rgba(206, 188, 157, 0.6431372549);
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none !important;
    height: 100%;
    width: 30rem;
    z-index: 9999;
    transition: all 1s;
    transform: translateX(-10em);
  }
  .nav .nav-items {
    flex-direction: column;
    gap: 4rem;
    font-size: 3rem;
    margin-top: 8rem;
  }
  .nav-open .nav {
    opacity: 1 !important;
    pointer-events: auto !important;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name=close-outline] {
    transform: translateX(-2rem) rotate(180deg);
    opacity: 1 !important;
  }
  .nav-open .icon-mobile-nav[name=menu-outline] {
    transform: translateX(10rem);
    opacity: 0 !important;
  }
}
/* ----------------- BELOW 850px ----------------- */
@media (max-width: 53em) {
  html {
    font-size: 40%;
  }
  .plan-card:nth-child(2):before {
    top: -25px !important;
    left: -15px !important;
  }
  .form-btn {
    width: 19rem !important;
  }
  input {
    font-size: 1.7rem;
    width: 23rem !important;
    padding: 1.3rem !important;
  }
  #message {
    font-size: 1.7rem !important;
    padding: 1.3rem !important;
  }
}
/* ----------------- BELOW 660px- ----------------- */
@media (max-width: 41.25em) {
  .title-container {
    grid-column: 1/span 2 !important;
    justify-self: center;
  }
  .mobile-col {
    flex-direction: column !important;
    align-items: center;
  }
  .gun-range-content {
    align-self: center !important;
    margin-bottom: 2rem;
  }
}
/* ----------------- BELOW 548px ----------------- */
@media (max-width: 34.25em) {
  .about-me-mobile {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 3rem !important;
  }
  .img-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center !important;
  }
  .step-card {
    width: 16rem !important;
  }
  .plan-card {
    height: 100% !important;
  }
  .plan-card:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    height: 70% !important;
    align-self: center;
  }
  .plan-card:nth-child(2) .plan-list {
    align-self: center !important;
  }
  .mobile-plans {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #map {
    width: 100% !important;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 62.5% px;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  background-image: url("/resources/images/vintage-grunge-paper-background.jpg");
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  font-family: "Latio", sans-serif;
}

.container {
  padding: 1rem 4.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

.flex-col-center-h-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-row-center-h-v {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.grid-2-cols-2-rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.5fr;
  gap: 1rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  gap: 1rem;
  height: 100%;
}

.grid-center-h {
  justify-items: center;
}

.grid-center-v {
  align-items: center;
}

.btn {
  background-color: #779d2c;
  border: 2px solid #536e1f;
  padding: 0.5rem 1rem 0.2rem 1rem;
  border-radius: 10px;
  color: rgb(224, 216, 191);
}
.btn:hover {
  background-color: #5f7e23;
}

.form-btn {
  width: 10rem;
  padding: 0.5rem;
  align-self: center;
}

.hidden-bottom {
  opacity: 0;
  transform: translateY(2rem);
}

.hidden-left {
  opacity: 0;
  transform: translateX(-1rem);
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(190, 168, 130, 0.6117647059);
  height: 4rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
}

.sticky .home {
  margin-top: 5rem;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  list-style: none;
  font-size: 1.4rem;
}
.nav-items:nth-last-child(n) .btn::after {
  height: 0;
  background-color: red;
}
.nav-items .nav-link {
  color: #f7fce8;
  font-weight: 700;
  position: relative;
}
.nav-items .nav-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: black;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}
.nav-items .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: black;
}
.nav-items .nav-link:active {
  color: #475e1a;
}
.nav-items .btn {
  color: rgb(224, 216, 191);
}

.section-title {
  font-size: 3rem;
  color: #730c00;
  border-bottom: 10px solid #730c00;
  padding-bottom: 0.5rem;
  text-align: center;
  margin-bottom: 10rem;
}

section:nth-child(odd) .section-title {
  border-right: 10px solid #730c00;
  padding-right: 0.5rem;
  text-align: right;
}

section:nth-child(even) .section-title {
  border-left: 10px solid #730c00;
  padding-left: 0.5rem;
  text-align: start;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 70rem;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #730c00;
}
.slider .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider .slides .slide {
  min-width: 100%;
  display: none;
  transition: transform 0.5s ease-in-out;
}
.slider .slides .slide[data-active] {
  display: block;
}
.slider .slides .slide-img {
  width: 100%;
  display: block;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .btn-prev,
.slider .btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.slider .btn-prev:hover,
.slider .btn-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slider .btn-prev:active,
.slider .btn-next:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.slider .btn-prev {
  left: 0;
}
.slider .btn-next {
  right: 0;
}

#map {
  margin-bottom: 4rem;
  height: 30rem;
  width: 60%;
  border-radius: 20px;
  border: 2px solid black;
}

.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
}
.btn-mobile-nav .icon-mobile-nav {
  font-size: 3rem;
  cursor: pointer;
  position: relative;
  transition: all 1s;
}
.btn-mobile-nav .icon-mobile-nav[name=close-outline] {
  opacity: 0;
}

.about-me-section {
  padding: 4rem 2rem;
}
.about-me-section .about-me-content {
  align-items: start;
  margin-left: 8rem;
}
.about-me-section .about-me-content .about-title {
  font-size: 5rem;
  color: #730c00;
  font-weight: 700;
  border-bottom: 10px solid #730c00;
  border-left: 10px solid #730c00;
  padding: 0 0.5rem;
}
.about-me-section .about-me-content .short-desc-about {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #a51d0d;
}
.about-me-section .about-me-content .description-about {
  font-size: 1.5rem;
  color: black;
  line-height: 1.2;
  transition: all 1s ease;
}
.about-me-section .about-me-img {
  height: 30rem;
  border-radius: 10px;
  border: 1px solid #730c00;
}
.about-me-section .img-container {
  grid-row: 2;
  grid-column: 1/span 2;
  align-self: flex-start;
}
.about-me-section .img-container .img-in-con {
  height: 13rem;
}

.header {
  display: flex;
  padding: 0 3.6rem;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  gap: 2.2rem;
}

.logo-img {
  height: 4rem;
}

.home {
  background-image: linear-gradient(to left, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0)), url("/resources/images/pexels-pixabay-78783.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 94vh;
  width: 100%;
}
.home .title-container {
  grid-column: 2;
  align-self: center;
  margin-left: 4rem;
}
.home .home-title {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  color: rgb(240, 239, 224);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 0.2rem;
  margin-bottom: 4rem;
}
.home .home-btn {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.7rem;
}
.home .home-btn:active {
  background-color: #475e1a;
}

.step-card {
  width: 90%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
  background-color: rgba(79, 69, 55, 0.737254902);
  border-radius: 10px;
  padding: 2rem;
  transition: all 0.4s ease, opacity 1s ease;
  position: relative;
}
.step-card .step-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.step-card .step-title {
  font-size: 3rem;
  color: #730c00;
  -webkit-text-decoration: underline solid 5px #730c00;
          text-decoration: underline solid 5px #730c00;
}
.step-card .step-description {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 2rem;
  max-width: 25rem;
  color: rgb(240, 239, 224);
}
.step-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.plans-section {
  padding: 4rem 2rem;
}
.plans-section .section-title {
  margin-bottom: 10rem;
}
.plans-section .plans-container {
  gap: 0;
}
.plans-section .plans-container .plan-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #730c00;
  padding: 2rem;
  max-width: 30rem;
  text-align: center;
  height: 35rem;
  background-color: #fbe3da;
  border-radius: 8px;
  transition: all 1s ease;
}
.plans-section .plans-container .plan-card:nth-child(2) {
  z-index: 999;
}
.plans-section .plans-container .plan-card:nth-child(2):before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Najlepsza cena";
  padding: 0.3rem;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  position: absolute;
  border-radius: 100%;
  transform: rotate(-20deg);
  top: -50px;
  left: -40px;
  width: 6rem;
  height: 6rem;
  background-color: #779d2c;
}
.plans-section .plans-container .plan-card .plan-title {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
.plans-section .plans-container .plan-card .price-span {
  font-size: 1.5rem;
  font-weight: 500;
}
.plans-section .plans-container .plan-card .price {
  font-size: 4rem;
  border-bottom: 2px solid black;
  margin-bottom: 3rem;
}
.plans-section .plans-container .plan-card .plan-list {
  list-style: none;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 500;
  text-align: start;
}
.plans-section .plans-container .plan-card .plan-list .check {
  font-size: 2rem;
  margin-right: 0.6rem;
  color: #779d2c;
}
.plans-section .plans-container .plan-card .plan-btn {
  width: 75%;
  align-self: center;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: 1rem;
}
.plans-section .plans-container .plan-card:nth-child(2) {
  transform: translateY(-2rem);
  scale: 1.1;
  background-color: #dbd1ce;
}

.gun-range-info-section {
  padding: 4rem 2rem;
}
.gun-range-info-section .section-title {
  margin-bottom: 6rem;
}
.gun-range-info-section .gun-range-content {
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: 1rem;
  transition: all 1s ease;
}
.gun-range-info-section .gun-range-content .section-subtitle {
  font-size: 2.2rem;
  color: #730c00;
  margin-bottom: 2rem;
}
.gun-range-info-section .gun-range-content .gun-range-description {
  width: 40rem;
  text-align: start;
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 3rem;
  color: black;
  transition: all 1s ease;
}
.gun-range-info-section .gun-range-content .guns-container {
  gap: 1rem;
  display: flex;
}
.gun-range-info-section .gun-range-content .guns-container .weapon-img {
  position: relative;
  width: 10rem;
  transition: background 0.6s ease, opacity 1s ease, transform 1s ease;
  border: 2px solid #730c00;
  border-radius: 20px;
}
.gun-range-info-section .gun-range-content .guns-container .weapon-img:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(115, 12, 0, 0.4117647059));
}

.localization-section {
  padding: 5rem 0;
}
.localization-section .sm-subsection {
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/resources/images/pexels-shonejai-445753-1227511.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(240, 239, 224);
}
.localization-section .sm-subsection .subtitle {
  margin-top: 5rem;
  font-size: 2rem;
  transition: all 1s ease;
}
.localization-section .sm-subsection .sm-container {
  display: flex;
  width: 40rem;
  height: 10rem;
  align-items: center;
  justify-content: space-around;
  transition: all 1s ease;
}
.localization-section .sm-subsection .sm-container .sm-icon {
  width: 4rem;
  font-size: 3rem;
  transition: font-size 0.3s ease, transform 2s ease, opacity 2s ease;
  color: rgb(240, 239, 224);
}
.localization-section .sm-subsection .sm-container .sm-icon:hover {
  font-size: 3.5rem;
}

.contact-form {
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 3rem;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  font-size: 1.2rem;
  transition: all 1s ease;
}
.contact-form input {
  border: 1px solid black;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  padding: 0.2rem;
  border-radius: 5px;
  width: 20rem;
  height: 2rem;
}
.contact-form .message {
  display: flex;
  flex-direction: column;
}
.contact-form .message #message {
  resize: none;
  width: 30rem;
  height: 10rem;
  margin-bottom: 2rem;
  margin-top: 0.3rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.footer-section {
  padding-top: 7rem;
}
.footer-section .footer-con {
  background-color: rgba(0, 0, 0, 0.1);
  height: 6rem;
  align-items: center;
}
.footer-section .copyright-text {
  border-right: 1px solid black;
  padding-right: 0.6rem;
}
.footer-section .developer {
  border-right: 1px solid black;
  padding-right: 0.6rem;
}
.footer-section .sm-footer-icon {
  margin-right: 0.6rem;
  color: black;
  font-size: 1.5rem;
}
.footer-section .contact-dev {
  margin-right: 1rem;
}/*# sourceMappingURL=style.css.map */