@import '../base/typography';
@import '../abstracts/variables';

.nav-items {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    list-style: none;
    font-size: $nav-font-size;
    padding: 0 1.2rem 0.3rem 1.2rem;
    border-bottom: 2px solid #6d6454;

    .nav-link {
        color: $main-text-color;
        font-weight: $nav-font-weight;

        &:hover{
            color: #6d6454;
        }

        &:active {
            color: $btn-active-color;
        }
    }

    .btn{
        color: $btn-text-color;
    }
}