@import "../base/typography";
@import "../abstracts/variables";

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  list-style: none;
  font-size: $nav-font-size;

  &:nth-last-child(n) .btn::after {
    height: 0;
    background-color: red;
  }

  .nav-link {
    color: $nav-text-color;
    font-weight: $nav-font-weight;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: $main-text-color;
      transition: width 0.2s ease;
      -webkit-transition: width 0.2s ease;
    }

    &:hover::after {
      width: 100%;
      left: 0;
      background: $main-text-color;
    }

    &:active {
      color: $btn-active-color;
    }
  }

  .btn {
    color: $btn-text-color;
  }
}
