@use '../base/' as fonts;
@use '../abstracts/' as colors;

.about-me-section{
    padding: 4rem 2rem;

    .about-me-content{
        align-items: start;

        .about-title{
            font-size: fonts.$title-h2;
            color: colors.$h2-title-color;
            font-weight: fonts.$title-h2-weight;
            margin-bottom: 1rem;
        }

        .short-desc-about{
            color: red;
            font-size: fonts.$subtitle-size;
            margin-bottom: 1rem;

        }

        .description-about{
            color: blue;
            font-size: fonts.$main-text-size;
            line-height: 1.2;
        }
    }

    .img-container{
        grid-row: 2;
        grid-column: 1/span 2 ;
    
        .img-in-con{
            height: 13rem;
        }
    }
}



