.contact-form {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr 0.3fr;
  // padding: 3rem;
  // background-color: rgb(209, 204, 129);
  // border-radius: 10px;

  display: flex;
  background-color: #7d7358;
  padding: 3rem;
  flex-direction: column;
  border-radius: 15px;

  input {
    border: 1px solid black;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    padding: 0.2rem;
    border-radius: 5px;
  }

  .message {
    display: flex;
    flex-direction: column;

    #message {
      resize: none;
      width: 20rem;
      height: 10rem;
      margin-bottom: 2rem;
      margin-top: 0.3rem;
      padding: 0.5rem;
      border-radius: 10px;
    }
  }
}
