.footer-section {
  padding-top: 7rem;

  .footer-con {
    background-color: rgba(0, 0, 0, 0.1);
    height: 6rem;
    align-items: center;
  }

  .copyright-text {
    border-right: 1px solid black;
    padding-right: 0.6rem;
  }

  .developer {
    border-right: 1px solid black;
    padding-right: 0.6rem;
  }
  .sm-footer-icon {
    margin-right: 0.6rem;
    color: black;
    font-size: 1.5rem;
  }

  .contact-dev {
    margin-right: 1rem;
  }
}
