.footer-section {
  padding-top: 8rem;
  padding-bottom: 1rem;

  .footer-con {
    height: 5rem;
    align-items: center;
  }

  .copyright-text {
    border-right: 1px solid black;
    padding-right: 0.6rem;
  }

  .developer {
    border-right: 1px solid black;
    padding-right: 0.6rem;
  }
}
