@use "../abstracts/variables" as colors;
@use "../base/typography" as fonts;

.gun-range-info-section {
  padding: 4rem 2rem;

  .section-title {
    margin-bottom: 6rem;
  }

  .gun-range-content {
    align-self: flex-start;
    margin-top: 2rem;
    margin-left: 1rem;
    transition: all 1s ease;

    .section-subtitle {
      font-size: fonts.$subtitle-size;
      color: colors.$h2-title-color;
      margin-bottom: 2rem;
    }

    .gun-range-description {
      width: 40rem;
      text-align: start;
      font-size: fonts.$main-text-size;
      line-height: 1.1;
      margin-bottom: 3rem;
      color: colors.$main-text-color;
      transition: all 1s ease;
    }

    .guns-container {
      gap: 1rem;
      display: flex;

      .weapon-img {
        position: relative;
        width: 10rem;
        transition: background 0.6s ease, opacity 1s ease, transform 1s ease;
        border: 2px solid colors.$h2-title-color;
        border-radius: 20px;

        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.2), #730c0069);
        }
      }
    }
  }
}
