@import "../abstracts/variables";

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/resources/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 90vh;
  width: 100%;

  .title-container {
    grid-column: 2;
    align-self: center;
    
  }

  .home-title {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: $main-title-color;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 0.2rem;
    margin-bottom: 4rem;
  }

  .home-btn {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.7rem;
    &:active {
      background-color: $btn-active-color;
    }
  }
}
