@use "../abstracts/variables" as colors;

.localization-section {
  padding: 5rem 0;

  .sm-subsection {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/resources/images/pexels-shonejai-445753-1227511.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: colors.$sm-color;

    .subtitle {
      margin-top: 5rem;
      font-size: 2rem;
      transition: all 1s ease;
    }

    .sm-container {
      display: flex;
      width: 40rem;
      height: 10rem;
      align-items: center;
      justify-content: space-around;
      transition: all 1s ease;

      .sm-icon {
        width: 4rem;
        font-size: 3rem;
        transition: font-size 0.3s ease, transform 2s ease, opacity 2s ease;
        color: colors.$sm-color;
        &:hover {
          font-size: 3.5rem;
        }
      }
    }
  }
}
