$background-color: #464e33;
$main-text-color: #F7FCE8;
// $main-text-color: #4c4637;

$title-text-color: #aba69d;
$h2-title-color: #730C00;

$btn-bg-color: #779D2C;
$btn-text-color: rgb(224, 216, 191);
$btn-active-color: #475e1a;

$main-title-color: rgb(240, 239, 224);

$subtitle-color:  #730C00;
