$background-color: #b2a78a;
$main-text-color: #2e210b;
// $main-text-color: #4c4637;

$title-text-color: #aba69d;
$h2-title-color: #517c75;
// $h2-title-color: #3c3c3c;
// $h2-title-color: #3c3c3c;

// $btn-bg-color: #9b5555;
$btn-bg-color: #38785e;
$btn-text-color: rgb(224, 216, 191);
$btn-active-color: #423636;

$main-title-color: rgb(240, 239, 224);

$subtitle-color: #005b46;
