$background-color: #464e33;

// MAIN COLORS

$main-text-color: black;

$main-title-color: rgb(240, 239, 224);

$h2-title-color: #730c00;

$subtitle-color: #a51d0d;

// HOME COLORS
$nav-text-color: #f7fce8;
$title-text-color: #aba69d;

// BTN
$btn-bg-color: #779d2c;
// $btn-bg-color: #f78355;
// $btn-bg-color: #a51d0d;
$btn-text-color: rgb(224, 216, 191);
$btn-active-color: #475e1a;

// STEPS
$steps-text-color: rgb(240, 239, 224);

// SM
$sm-color: rgb(240, 239, 224);
